---
console.log("footer");
---
<footer class="footer section gray-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<img src="src/images/logo.png" alt="" class="img-fluid">
					</div>
					<p>Somos una Institución Policlínica Parroquial con el fin de brindarles la mejor atención y capacidad para su bienestar Integral de Salud.</p>

					<ul class="list-inline footer-socials mt-4">
						<li class="list-inline-item">
							<a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a>
						</li>
                        
						<li class="list-inline-item">
							<a href="https://www.pinterest.com/themefisher/"><i class="icofont-tiktok"></i></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Convenios</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a target="_blank" href="https://www.stellamaris.com.pe/">Clínica Stella Maris</a></li>
						<li><a target="_blank" href="#!">Farmaceútica</a></li>
						<li><a target="_blank" href="https://www.systemjaade.com/">System JAADE SAC</a></li>
						<li><a target="_blank" href="https://www.facebook.com/NSM3720/">Colegio Parroquial Nuestra Señora de la Misericordia</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Acerca de</h4>
					<div class="divider mb-4"></div>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="about.html">Nosotros</a></li>
						<li><a href="service.html">Nuestras Especialidades</a></li>
						<li><a href="#!">Profesionales </a></li>
						<li><a href="#!">Promociones</a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-3">Para ponerse en contacto</h4>
					<div class="divider mb-4"></div>

					<div class="footer-contact-block mb-4">
						<div class="icon d-flex align-items-center">
							<i class="icofont-email mr-3"></i>
							<span class="h6 mb-0">Disponible 24/7</span>
						</div>
						<h4 class="mt-2"><a href="mailto:support@email.com">administración@policlinicofatima.com</a></h4>
					</div>

					<div class="footer-contact-block">
						<div class="icon d-flex align-items-center">
							<i class="icofont-support mr-3"></i>
							<span class="h6 mb-0">Lunes a Viernes: 8:00AM a 5:00PM</span>							
						</div>
						<span class="h6 mb-0">Sábados: 8:00AM a 12:00PM</span>
						<h4 class="mt-2"><a href="tel:+23-345-67890">(01) 550 – 0030</a></h4>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-btm py-4 mt-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6">
					<div class="copyright">
						Copyright &copy; 2024, Designed &amp; Developed by <a href="https://themefisher.com/">System JAADEE</a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="subscribe-form text-lg-right mt-5 mt-lg-0">
						<form action="#" class="subscribe">
							<input type="text" class="form-control" placeholder="Su correo electrónico" required>
							<button type="submit" class="btn btn-main-2 btn-round-full">Suscríbete</button>
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<a class="backtop scroll-top-to" href="#top">
						<i class="icofont-long-arrow-up"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>