---
// libraries
import "bootstrap/dist/css/bootstrap.min.css";
import "slick-carousel/slick/slick-theme.css";
import "slick-carousel/slick/slick.css";
// ccs
import "../css/style.css";
import "../plugins/icofont/icofont.min.css";
// Components
import Footer from "./components/footer.astro";
import Header from "./components/header.astro";
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Policlínico Fátima</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

	<link href="../plugins/icofont/icofont.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <Header />
    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white">Reserva tu</span>
                <h1 class="text-capitalize mb-5 text-lg">Cita</h1>
      
                <!-- <ul class="list-inline breadcumb-nav">
                  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                  <li class="list-inline-item"><span class="text-white">/</span></li>
                  <li class="list-inline-item"><a href="#" class="text-white-50">Book your Seat</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="appoinment section">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
                <div class="mt-3">
                  <div class="feature-icon mb-3">
                    <i class="icofont-support text-lg"></i>
                  </div>
                   <span class="h3">Llama por una emergencia</span>
                    <h2 class="text-color mt-3">(01) 550 – 0030</h2>
                </div>
            </div>
      
            <div class="col-lg-8">
                 <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
                  <h2 class="mb-2 title-color">Reservar una cita</h2>
                  <p class="mb-4">Reserve su cita médica fácilmente con nosotros. Ofrecemos un proceso sencillo y rápido para programar su consulta, adaptándonos a sus necesidades y horarios.</p>
                     <form id="#" class="appoinment-form" method="post" action="#">
                          <div class="row">
                               <div class="col-lg-6">
                                  <div class="form-group">
                                      <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Escoge una especialidad</option>
                                        <option>Medicina General / Pediatría en General</option>
                                        <option>Obstetricia</option>
                                        <option>Odontología</option>
                                        <option>Nutrición</option>
                                        <option>Terapia Física y Rehabilitación</option>
                                        <option>Terapia de Lenguaje</option>
                                        <option>Terapia ocupacional</option>
                                        <option>Terapia Sensorial</option>
                                        <option>Psicología</option>
                                        <option>Tópico</option>
                                        <option>Laboratorio</option>
                                        <option>Rayos X</option>
                                        <option>Electrocardiograma</option>
                                        <option>Farmacia</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <select class="form-control" id="exampleFormControlSelect2">
                                        <option>Seleccionar doctor</option>
                                        <option>Ignacio Chunga Vinchales</option>
                                        <option>Lissety Bravo</option>
                                        <option>Jorge Zavaleta Rivas</option>
                                        <option>Nancy Pantoja</option>
                                        <option>Soledad Gamboa Reyes</option>
                                        <option>Laura Luna</option>
                                        <option>Yul Gomero</option>
                                        <option>Teresa Tauma</option>
                                        <option>Jesús Zapata</option>
                                        <option>Yaneth Huapaya Flores</option>
                                        <option>Nathaly Salcedo Pajuelo</option>
                                        <option>Mónica Saldaña Ferrari</option>
                                        <option>Diana Moreno López</option>
                                        <option>Rosalin Agurto</option>
                                        <option>Ingrid Bravo Bazan</option>
                                        <option>Patricia Veliz Moreno</option>
                                        <option>Milbri Vargas</option>
                                        <option>Sandra Naupay Gargate</option>
                                        <option>Eva Guillen Ramirez</option>
                                        <option>Rosario Charcape</option>
                                        <option>Yuliana Arizaga</option>
                                        <option>Miguel Quispe</option>
                                      </select>
                                  </div>
                              </div>
      
                               <div class="col-lg-6">
                                  <div class="form-group">
                                      <input name="date" id="date" type="text" class="form-control" placeholder="día/mes/año">
                                  </div>
                              </div>
      
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <input name="time" id="time" type="text" class="form-control" placeholder="Hora">
                                  </div>
                              </div>
                               <div class="col-lg-6">
                                  <div class="form-group">
                                      <input name="name" id="name" type="text" class="form-control" placeholder="Nombre completo">
                                  </div>
                              </div>
      
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <input name="phone" id="phone" type="number" class="form-control" placeholder="Número de celular">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group-2 mb-4">
                              <textarea name="message" id="message" class="form-control" rows="6" placeholder="Tu mensaje"></textarea>
                          </div>
      
                          <a class="btn btn-main btn-round-full" href="confirmation.html">Reservar cita<i class="icofont-simple-right ml-2"></i></a>
                      </form>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <Footer />
</body>
</html>