---
// libraries
import "bootstrap/dist/css/bootstrap.min.css";
import "slick-carousel/slick/slick-theme.css";
import "slick-carousel/slick/slick.css";
// ccs
import "../css/style.css";
import "../plugins/icofont/icofont.min.css";
// Components
import Footer from "./components/footer.astro";
import Header from "./components/header.astro";
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Policlínico Fátima</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

	<link href="../plugins/icofont/icofont.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <Header />
    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white">Nuestro blog</span>
                <h1 class="text-capitalize mb-5 text-lg">Artículos</h1>
      
                <!-- <ul class="list-inline breadcumb-nav">
                  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                  <li class="list-inline-item"><span class="text-white">/</span></li>
                  <li class="list-inline-item"><a href="#" class="text-white-50">Our blog</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="section blog-wrap">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="row">
          <div class="col-lg-12 col-md-12 mb-5">
              <div class="blog-item">
                  <div class="blog-thumb">
                      <img src="src/images/blog/blog-1.jpg" alt="" class="img-fluid ">
                  </div>
      
                  <div class="blog-item-content">
                      <div class="blog-item-meta mb-3 mt-4">
                          <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>2 Comentarios</span>
                          <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 03 de Marzo</span>
                      </div> 
      
                      <h2 class="mt-3 mb-3"><a href="blog-single.html">Elija un servicio de calidad en lugar de un servicio barato</a></h2>
      
                      <p class="mb-4">Cuando se trata de cuidar nuestra salud y la de nuestros seres queridos, la calidad del servicio médico es fundamental. En el ámbito de los policlínicos y centros de salud, la decisión entre optar por un servicio barato o uno de calidad puede tener repercusiones significativas en el bienestar y la recuperación de los pacientes. Aquí exploramos por qué es crucial elegir un servicio de calidad por encima de uno simplemente económico.</p>
      
                      <a href="blog-single.html" target="_blank" class="btn btn-main btn-icon btn-round-full">Más información <i class="icofont-simple-right ml-2  "></i></a>
                  </div>
              </div>
          </div>
      
          <div class="col-lg-12 col-md-12 mb-5">
              <div class="blog-item">
                  <div class="blog-thumb">
                      <img src="src/images/blog/blog-2.jpg" alt="" class="img-fluid">
                  </div>
      
                  <div class="blog-item-content">
                      <div class="blog-item-meta mb-3 mt-4">
                          <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comentarios</span>
                          <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 25 de Mayo</span>
                      </div> 
      
                      <h2 class="mt-3 mb-3"><a href="blog-single.html">Todas las pruebas cuestan el 25% menos siempre en nuestro laboratorio.</a></h2>
                      
                      <p class="mb-4">En el dinámico mundo de la atención médica, los costos pueden ser un factor decisivo para muchas personas a la hora de elegir dónde realizarse pruebas médicas. En nuestro laboratorio, nos enorgullece ofrecer a nuestros pacientes la promesa de que todas las pruebas médicas cuestan un 25% menos que en otros lugares. Esta política no solo busca hacer accesibles los servicios de diagnóstico, sino también garantizar la calidad y precisión en cada prueba que realizamos.</p>
      
                      <a href="blog-single.html" target="_blank" class="btn btn-main btn-icon btn-round-full">Más información<i class="icofont-simple-right ml-2  "></i></a>
                  </div>
              </div>
          </div>
      
      
          <div class="col-lg-12 col-md-12 mb-5">
              <div class="blog-item">
                  <div class="blog-thumb">
                      <img src="src/images/blog/blog-4.jpg" alt="" class="img-fluid">
                  </div>
      
                  <div class="blog-item-content">
                      <div class="blog-item-meta mb-3 mt-4">
                          <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comentarios</span>
                          <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-1"></i> 10 de Junio</span>
                      </div> 
                      <h2 class="mt-3 mb-3"><a href="blog-single.html">Obtenga consulta gratuita de nuestros cirujanos y médicos especiales.</a></h2>
      
                      <p class="mb-4">La posibilidad de acceder a consultas especializadas sin costo puede marcar una gran diferencia para los pacientes. En nuestro policlínico, nos complace ofrecer consultas gratuitas con nuestros cirujanos y médicos especializados, asegurando que todos tengan acceso a evaluaciones profesionales sin compromiso alguno. Esta iniciativa no solo busca promover la salud preventiva, sino también facilitar el acceso a la atención médica especializada que cada paciente merece.</p>
      
                      <a href="blog-single.html" target="_blank" class="btn btn-main btn-icon btn-round-full">Más información<i class="icofont-simple-right ml-2  "></i></a>
                  </div>
              </div>
          </div>
      
          <div class="col-lg-12 col-md-12">
              <nav class="pagination py-2 d-inline-block">
                  <div class="nav-links">
                      <span aria-current="page" class="page-numbers current">1</span>
                      <a class="page-numbers" href="#!">2</a>
                      <a class="page-numbers" href="#!">3</a>
                      <a class="page-numbers" href="#!"><i class="icofont-thin-double-right"></i></a>
                  </div>
              </nav>
          </div>
      </div>
            </div>
            <div class="col-lg-4">
              <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
          <div class="sidebar-widget search  mb-3 ">
              <h5>Busca aquí</h5>
              <form action="#" class="search-form">
                  <input type="text" class="form-control" placeholder="Buscar">
                  <i class="ti-search"></i>
              </form>
          </div>
      
      
          <div class="sidebar-widget latest-post mb-3">
              <h5>Posts populares</h5>
      
              <div class="py-2">
                  <span class="text-sm text-muted">03 Marzo 2024</span>
                  <h6 class="my-2"><a href="#">Elija un servicio de calidad en lugar de un servicio barato</a></h6>
              </div>
      
              <div class="py-2">
                     <span class="text-sm text-muted">25 Mayo 2024</span>
                  <h6 class="my-2"><a href="#">Todas las pruebas cuestan el 25% menos siempre en nuestro laboratorio.</a></h6>
              </div>
      
              <div class="py-2">
                  <span class="text-sm text-muted">10 Junio 2024</span>
                  <h6 class="my-2"><a href="#">Obtenga consulta gratuita de nuestros cirujanos y médicos especiales.</a></h6>
              </div>
          </div>
      
          <div class="sidebar-widget category mb-3">
              <h5 class="mb-4">Categorias</h5>
      
              <ul class="list-unstyled">
                <li class="align-items-center">
                  <a href="#">Medicina</a>
                  <span>(14)</span>
                </li>
                <li class="align-items-center">
                  <a href="#">Equipos</a>
                  <span>(2)</span>
                </li>
                <li class="align-items-center">
                  <a href="#">Corazón</a>
                  <span>(10)</span>
                </li>
                <li class="align-items-center">
                  <a href="#">Asesoramiento gratuito</a>
                  <span>(5)</span>
                </li>
                <li class="align-items-center">
                  <a href="#">Resultados de laboratorio</a>
                  <span>(5)</span>
                </li>
              </ul>
          </div>
      
      
          <div class="sidebar-widget tags mb-3">
              <h5 class="mb-4">Etiquetas</h5>
      
              <a href="#">Doctores</a>
              <a href="#">Agencia</a>
              <a href="#">compañia</a>
              <a href="#">medicina</a>
              <a href="#">Cirugía</a>
              <a href="#">Marketing</a>
              <a href="#">Redes sociales</a>
              <a href="#">Laboratorio</a>
          </div>
      
      
          <div class="sidebar-widget schedule-widget mb-3">
              <h5 class="mb-4">Horario</h5>
      
              <ul class="list-unstyled">
                <li class="d-flex justify-content-between align-items-center">
                  <span>Lunes - Viernes</span>
                  <span>8:00 AM - 5:00 PM</span>
                </li>
                <li class="d-flex justify-content-between align-items-center">
                  <span>Sábados</span>
                  <span>8:00 AM - 12:00 PM</span>
                </li>
                <!--<li class="d-flex justify-content-between align-items-center">
                  <span>Dom,ingops</span>
                  <span>Closed</span>
                </li>-->
              </ul>
      
              <div class="sidebar-contatct-info mt-4">
                  <p class="mb-0">¿Necesita ayuda urgente?</p>
                  <h3>(01) 550 – 0030</h3>
              </div>
          </div>
      
      </div>
            </div>
          </div>
        </div>
      </section>
    <Footer />
</body>
</html>