---
// libraries
import "bootstrap/dist/css/bootstrap.min.css";
import "slick-carousel/slick/slick-theme.css";
import "slick-carousel/slick/slick.css";
// ccs
import "../css/style.css";
import "../plugins/icofont/icofont.min.css";
// Components
import Footer from "./components/footer.astro";
import Header from "./components/header.astro";
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Policlínico Fátima</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

	<link href="../plugins/icofont/icofont.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <Header />
    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white">All Department</span>
                <h1 class="text-capitalize mb-5 text-lg">Care Department</h1>
      
                <!-- <ul class="list-inline breadcumb-nav">
                  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                  <li class="list-inline-item"><span class="text-white">/</span></li>
                  <li class="list-inline-item"><a href="#" class="text-white-50">All Department</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      <section class="section service-2">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-7 text-center">
                      <div class="section-title">
                          <h2>Award winning patient care</h2>
                          <div class="divider mx-auto my-4"></div>
                          <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
                      </div>
                  </div>
              </div>
      
              <div class="row">
                  <div class="col-lg-4 col-md-6 ">
                      <div class="department-block mb-5">
                          <img src="src/images/service/service-1.jpg" alt="" class="img-fluid w-100">
                          <div class="content">
                              <h4 class="mt-4 mb-2 title-color">Medicina General / Pediatría en General</h4>
                              <p class="mb-4">Atención médica primaria y especializada para niños y adultos, incluyendo diagnóstico y tratamiento de enfermedades comunes.</p>
                              <a href="department-single.html" class="read-more">Learn More  <i class="icofont-simple-right ml-2"></i></a>
                          </div>
                      </div>
                  </div>
      
                  <div class="col-lg-4 col-md-6">
                      <div class="department-block mb-5">
                          <img src="src/images/service/service-2.jpg" alt="" class="img-fluid w-100">
                          <div class="content">
                              <h4 class="mt-4 mb-2  title-color">Obstetricia</h4>
                              <p class="mb-4">Cuidado integral para mujeres embarazadas, seguimiento prenatal y atención durante el parto.</p>
                              <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-lg-4 col-md-6">
                      <div class="department-block mb-5">
                          <img src="src/images/service/service-3.jpg" alt="" class="img-fluid w-100">
                          <div class="content">
                              <h4 class="mt-4 mb-2 title-color">Odontología</h4>
                              <p class="mb-4">Servicios de salud bucal, incluyendo limpieza dental, tratamiento de caries y ortodoncia.</p>
                              <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                          </div>
                      </div>
                  </div>
      
      
                  <div class="col-lg-4 col-md-6 ">
                      <div class="department-block  mb-5 mb-lg-0">
                          <img src="src/images/service/service-4.jpg" alt="" class="img-fluid w-100">
                          <div class="content">
                              <h4 class="mt-4 mb-2 title-color">Nutrición</h4>
                              <p class="mb-4">La nutrición es la ingesta de alimentos en relación con las necesidades dietéticas del organismo. Una buena nutrición (una dieta suficiente y equilibrada combinada con el ejercicio físico regular) es un elemento fundamental de la buena salud.</p>
                              <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                          </div>
                      </div>
                  </div>
      
                  <div class="col-lg-4 col-md-6">
                      <div class="department-block mb-5 mb-lg-0">
                          <img src="src/images/service/service-6.jpg" alt="" class="img-fluid w-100">
                          <div class="content">
                              <h4 class="mt-4 mb-2 title-color">Terapia Física y Rehabilitación</h4>
                              <p class="mb-4">Tratamientos y ejercicios para recuperar la movilidad y funcionalidad tras lesiones o cirugías.</p>
                              <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-lg-4 col-md-6">
                      <div class="department-block mb-5 mb-lg-0">
                          <img src="src/images/service/service-8.jpg" alt="" class="img-fluid w-100">
                          <div class="content">
                              <h4 class="mt-4 mb-2 title-color">Terapia de Lenguaje</h4>
                              <p class="mb-4">Intervención para mejorar habilidades de comunicación y tratar trastornos del habla.</p>
                              <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-6">
                    <div class="department-block mb-5 mb-lg-0">
                        <img src="src/images/service/service-8.jpg" alt="" class="img-fluid w-100">
                        <div class="content">
                            <h4 class="mt-4 mb-2 title-color">Terapia ocupacional</h4>
                            <p class="mb-4">Ayuda para mejorar la independencia en las actividades diarias mediante el uso de técnicas y ejercicios.</p>
                            <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="department-block mb-5 mb-lg-0">
                        <img src="src/images/service/service-8.jpg" alt="" class="img-fluid w-100">
                        <div class="content">
                            <h4 class="mt-4 mb-2 title-color">Terapia sensorial</h4>
                            <p class="mb-4">Tratamientos para integrar y procesar mejor la información sensorial, especialmente en niños con necesidades especiales.</p>
                            <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="department-block mb-5 mb-lg-0">
                        <img src="src/images/service/service-8.jpg" alt="" class="img-fluid w-100">
                        <div class="content">
                            <h4 class="mt-4 mb-2 title-color">Psicología</h4>
                            <p class="mb-4">Apoyo emocional y psicológico para enfrentar problemas personales, familiares o laborales.</p>
                            <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="department-block mb-5 mb-lg-0">
                        <img src="src/images/service/service-8.jpg" alt="" class="img-fluid w-100">
                        <div class="content">
                            <h4 class="mt-4 mb-2 title-color">Tópico</h4>
                            <p class="mb-4">Atención inmediata y primeros auxilios para emergencias médicas menores.</p>
                            <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="department-block mb-5 mb-lg-0">
                        <img src="src/images/service/service-8.jpg" alt="" class="img-fluid w-100">
                        <div class="content">
                            <h4 class="mt-4 mb-2 title-color">Farmacia</h4>
                            <p class="mb-4">Suministro de medicamentos y asesoría farmacéutica. Contamos con descuentos y promociones</p>
                            <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="department-block mb-5 mb-lg-0">
                        <img src="src/images/service/service-8.jpg" alt="" class="img-fluid w-100">
                        <div class="content">
                            <h4 class="mt-4 mb-2 title-color">Laboratorio</h4>
                            <p class="mb-4">Realización de análisis clínicos para diagnóstico y control de enfermedades.</p>
                            <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="department-block mb-5 mb-lg-0">
                        <img src="src/images/service/service-8.jpg" alt="" class="img-fluid w-100">
                        <div class="content">
                            <h4 class="mt-4 mb-2 title-color">Rayos X</h4>
                            <p class="mb-4">Estudios de imagen para diagnosticar fracturas, infecciones y otras condiciones internas del cuerpo.</p>
                            <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="department-block mb-5 mb-lg-0">
                        <img src="src/images/service/service-8.jpg" alt="" class="img-fluid w-100">
                        <div class="content">
                            <h4 class="mt-4 mb-2 title-color">Electrocardiograma</h4>
                            <p class="mb-4">Prueba que registra la actividad eléctrica del corazón para detectar irregularidades cardíacas.</p>
                            <a href="department-single.html" class="read-more">Learn More <i class="icofont-simple-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
              </div>
          </div>
      </section>
    <Footer />
</body>
</html>