---
// libraries
import "bootstrap/dist/css/bootstrap.min.css";
import "slick-carousel/slick/slick-theme.css";
import "slick-carousel/slick/slick.css";
// ccs
import "../css/style.css";
import "../plugins/icofont/icofont.min.css";
// Components
import Footer from "./components/footer.astro";
import Header from "./components/header.astro";
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Policlínico Fátima</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

	<link href="../plugins/icofont/icofont.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <Header />
    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block text-center">
                <!--<span class="text-white">Department Details</span>-->
                <h1 class="text-capitalize mb-5 text-lg">Detalles del departamento</h1>
      
                <!-- <ul class="list-inline breadcumb-nav">
                  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                  <li class="list-inline-item"><span class="text-white">/</span></li>
                  <li class="list-inline-item"><a href="#" class="text-white-50">Department Details</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      <section class="section department-single">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="department-img">
                          <img src="src/images/service/bg-1.jpg" alt="" class="img-fluid">
                      </div>
                  </div>
              </div>
      
              <div class="row">
                  <div class="col-lg-8">
                      <div class="department-content mt-5">
                          <h3 class="text-md">Medicina General / Pediatría</h3>
                          <div class="divider my-4"></div>
                          <p class="lead">Ofrecemos atención integral para pacientes de todas las edades, desde recién nacidos hasta adultos mayores. Nuestro equipo de médicos está dedicado a proporcionar diagnósticos precisos y tratamientos efectivos para una amplia gama de condiciones médicas comunes. Nos enfocamos en el bienestar general y la prevención de enfermedades, asegurando un cuidado médico personalizado y de confianza para toda la familia.</p>
                          
                          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->    
      
                          <h3 class="mt-5 mb-4">Características de los servicios</h3>
                          <div class="divider my-4"></div>
                          <ul class="list-unstyled department-service">
                              <li><i class="icofont-check mr-2"></i>Atención integral</li>
                              <li><i class="icofont-check mr-2"></i>Diagnóstico preciso</li>
                              <li><i class="icofont-check mr-2"></i>Tratamiento personalizado</li>
                              <li><i class="icofont-check mr-2"></i>Promoción de la salud y prevención</li>
                              <li><i class="icofont-check mr-2"></i>Manejo de enfermedades crónicas</li>
                              <li><i class="icofont-check mr-2"></i>Accesibilidad y comodidad</li>
                          </ul>
      
                          <a href="appoinment.html" class="btn btn-main-2 btn-round-full">Reservar una cita<i class="icofont-simple-right ml-2  "></i></a>
                      </div>
                  </div>
      
                  <div class="col-lg-4">
                      <div class="sidebar-widget schedule-widget mt-5">
                          <h5 class="mb-4">Horario</h5>
      
                          <ul class="list-unstyled">
                            <li class="d-flex justify-content-between align-items-center">
                              <span>Lunes - Viernes</span>
                              <span>8:00 AM - 5:00 PM</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                              <span>Sábados</span>
                              <span>8:00 AM - 12:00 PM</span>
                            </li>
                            <!--<li class="d-flex justify-content-between align-items-center">
                              <span>Dom,ingops</span>
                              <span>Closed</span>
                            </li>-->
                          </ul>
      
                          <div class="sidebar-contatct-info mt-4">
                            <p class="mb-0">¿Necesita ayuda urgente?</p>
                            <h3>(01) 550 – 0030</h3>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    <Footer />
</body>
</html>