---
// libraries
import "bootstrap/dist/css/bootstrap.min.css";
import "slick-carousel/slick/slick-theme.css";
import "slick-carousel/slick/slick.css";
// ccs
import "../css/style.css";
import "../plugins/icofont/icofont.min.css";
// Components
import Footer from "./components/footer.astro";
import Header from "./components/header.astro";
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Policlínico Fátima</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

	<link href="../plugins/icofont/icofont.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <Header />
    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white">All Doctors</span>
                <h1 class="text-capitalize mb-5 text-lg">Specalized doctors</h1>
      
                <!-- <ul class="list-inline breadcumb-nav">
                  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                  <li class="list-inline-item"><span class="text-white">/</span></li>
                  <li class="list-inline-item"><a href="#" class="text-white-50">All Doctors</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      <!-- portfolio -->
      <section class="section doctors">
        <div class="container">
              <div class="row justify-content-center">                
                   <div class="col-lg-6 text-center">
                      <div class="section-title">
                          <h2>Doctores</h2>
                          <div class="divider mx-auto my-4"></div>
                          <p>Conoce a nuestros profesionales detalladamente</p>
                      </div>
                  </div>
              </div>
      
            <div class="col-12 text-center  mb-5">
                  <div class="btn-group btn-group-toggle " data-toggle="buttons">
                    <label class="btn active ">
                      <input type="radio" name="shuffle-filter" value="all" checked="checked" />Departamentos
                    </label>
                    <label class="btn ">
                      <input type="radio" name="shuffle-filter" value="cat1" />Psicología
                    </label>
                    <label class="btn">
                      <input type="radio" name="shuffle-filter" value="cat2" />Medicina general
                    </label>
                    <label class="btn">
                      <input type="radio" name="shuffle-filter" value="cat3" />Obstetricia
                    </label>
                    <label class="btn">
                      <input type="radio" name="shuffle-filter" value="cat4" />Pediatría 
                    </label>
                     <label class="btn">
                      <input type="radio" name="shuffle-filter" value="cat5" />Terapia de Lenguaje
                    </label>
                    <label class="btn">
                      <input type="radio" name="shuffle-filter" value="cat6" />Terapia Ocupacional / Sensorial
                    </label>
                    <label class="btn">
                      <input type="radio" name="shuffle-filter" value="cat7" />Terapia Física y Rehabilitación
                    </label>
                    <label class="btn">
                      <input type="radio" name="shuffle-filter" value="cat8" />Odontología
                    </label>
                    <label class="btn">
                      <input type="radio" name="shuffle-filter" value="cat9" />Nutrición
                    </label>
                    <label class="btn">
                      <input type="radio" name="shuffle-filter" value="cat10" />Laboratorio
                    </label>
                  </div>
            </div>
      
          <div class="row shuffle-wrapper portfolio-gallery">
                <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat1&quot;,&quot;cat2&quot;]">
                    <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                         <div class="doctor-img">
                                 <img src="src/images/team/1.jpg" alt="doctor-image" class="img-fluid w-100">
                         </div>
                      </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Dr. Ignacio Chunga Vinchales</a></h4>
                          <p>CMP: 16150</p>
                      </div> 
                    </div>
                </div>
      
            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/2.jpg" alt="doctor-image" class="img-fluid w-100">
                          </div>
                      </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Dra. Lissety Bravo</a></h4>
                          <p>CMP: 71285</p>
                      </div> 
                    </div>
            </div>
      
            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat3&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/3.jpg" alt="doctor-image" class="img-fluid w-100">
                          </div>
                      </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Dr. Jorge Zavaleta Rivas</a></h4>
                          <p>CMP: 19505</p>
                      </div> 
                    </div>
            </div>
      
            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat3&quot;,&quot;cat4&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                          </div>
                      </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Nancy Pantoja</a></h4>
                          <p>CMP: 64656</p>
                      </div> 
                    </div>
            </div>
      
                <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat5&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/1.jpg" alt="doctor-image" class="img-fluid w-100">
                          </div>
                      </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Soledad Gamboa Reyes</a></h4>
                          <p>CMP: 12163</p>
                      </div> 
                    </div>
                </div>
      
            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat6&quot;]">
                      <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/3.jpg" alt="doctor-image" class="img-fluid w-100">
                          </div>
                      </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Laura Luna</a></h4>
                          <p>C.O.P: 14601</p>
                      </div> 
                    </div>
            </div>
      
            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat4&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/1.jpg" alt="doctor-image" class="img-fluid w-100">
                          </div>
                      </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Yul Gomero</a></h4>
                          <p>C.O.P: 18069</p>
                      </div> 
                  </div>
            </div>
      
            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat5&quot;,&quot;cat6&quot;,&quot;cat1&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/3.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Teresa Tauma</a></h4>
                          <p>C.O.P: 19158</p>
                      </div> 
                    </div>
            </div>
      
            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                          </div>
                      </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Jesús Zapata</a></h4>
                          <p>CNP: 5336</p>
                      </div> 
                    </div>
              </div>
      
               <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat5&quot;,&quot;cat6&quot;,&quot;cat1&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/3.jpg" alt="doctor-image" class="img-fluid w-100">
                          </div>
                      </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Yaneth Huapaya Flores</a></h4>
                          <p>LIC.TM: 03659</p>
                      </div> 
                    </div>
            </div>
      
            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Nathaly Salcedo Pajuelo</a></h4>
                          <p>LIC.TM: 11451</p>
                      </div> 
                  </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Mónica Saldaña Ferrari</a></h4>
                          <p>CMP</p>
                      </div> 
                  </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Diana Moreno López</a></h4>
                          <p>CMP:</p>
                      </div> 
                  </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Tec. Rosalin Agurto</a></h4>
                          <p>CMP:</p>
                      </div> 
                  </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Ingrid Bravo Bazan</a></h4>
                          <p>CMP:</p>
                      </div> 
                  </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Patricia Veliz Moreno</a></h4>
                          <p>CMP:</p>
                      </div> 
                  </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Milbri Vargas</a></h4>
                          <p>CMP:</p>
                      </div> 
                  </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Sandra Naupay Gargate</a></h4>
                          <p>CMP:</p>
                      </div> 
                  </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Eva Guillen Ramirez</a></h4>
                          <p>C.Ps.P.N° 7776</p>
                      </div> 
                  </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Rosario Charcape</a></h4>
                          <p>C.Ps.P.N° 15510</p>
                      </div> 
                  </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Dra. Yuliana Arizaga</a></h4>
                          <p>CMP: 64407</p>
                      </div> 
                  </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item illustration" data-groups="[&quot;cat2&quot;]">
                  <div class="position-relative doctor-inner-box">
                      <div class="doctor-profile">
                          <div class="doctor-img">
                             <img src="src/images/team/4.jpg" alt="doctor-image" class="img-fluid w-100">
                           </div>
                       </div>
                      <div class="content mt-3">
                          <h4 class="mb-0"><a href="doctor-single.astro">Lic. Miguel Quispe</a></h4>
                          <p>TM: 06114</p>
                      </div> 
                  </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /portfolio -->
      <section class="section cta-page">
          <div class="container">
              <div class="row">
                  <div class="col-lg-7">
                      <div class="cta-content">
                          <div class="divider mb-4"></div>
                          <h2 class="mb-5 text-lg">We are pleased to offer you the <span class="title-color">chance to have the healthy</span></h2>
                          <a href="appoinment.astro" class="btn btn-main-2 btn-round-full">Get appoinment<i class="icofont-simple-right  ml-2"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    <Footer />
</body>
</html>