---
// libraries
import "bootstrap/dist/css/bootstrap.min.css";
import "slick-carousel/slick/slick-theme.css";
import "slick-carousel/slick/slick.css";
// ccs
import "../css/style.css";
import "../plugins/icofont/icofont.min.css";
// Components
import Footer from "./components/footer.astro";
import Header from "./components/header.astro";
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Policlínico Fátima</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

	<link href="../plugins/icofont/icofont.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <Header />
    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white">Detalles del doctor</span>
                <h1 class="text-capitalize mb-5 text-lg">Ignacio Chunga Vinchales</h1>
      
                <!-- <ul class="list-inline breadcumb-nav">
                  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                  <li class="list-inline-item"><span class="text-white">/</span></li>
                  <li class="list-inline-item"><a href="#" class="text-white-50">Doctor Details</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      
      
      <section class="section doctor-single">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-6">
                      <div class="doctor-img-block">
                          <img src="images/team/1.jpg" alt="" class="img-fluid w-100">
      
                          <div class="info-block mt-4">
                              <h4 class="mb-0">Ignacio Chunga Vinchales</h4>
                              <p>Médico Cirujano</p>
      
                              <ul class="list-inline mt-4 doctor-social-links">
                                  <li class="list-inline-item"><a href="#!"><i class="icofont-facebook"></i></a></li>
                                  <li class="list-inline-item"><a href="#!"><i class="icofont-twitter"></i></a></li>
                                  <li class="list-inline-item"><a href="#!"><i class="icofont-skype"></i></a></li>
                                  <li class="list-inline-item"><a href="#!"><i class="icofont-linkedin"></i></a></li>
                                  <li class="list-inline-item"><a href="#!"><i class="icofont-pinterest"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
      
                  <div class="col-lg-8 col-md-6">
                      <div class="doctor-details mt-4 mt-lg-0">
                          <h2 class="text-md">Presentándome a mí mismo</h2>
                          <div class="divider my-4"></div>
                          <p>Soy el Dr. Ignacio Chunga Vinchales, un cirujano general altamente experimentado y comprometido con la excelencia en la atención quirúrgica. Con más de 10 años de experiencia en el campo de la cirugía, he destacado por mi precisión quirúrgica, ética profesional y empatía hacia mis pacientes.</p>
      
                          <a href="appoinment.astro" class="btn btn-main-2 btn-round-full mt-3">Reservar una cita<i
                                  class="icofont-simple-right ml-2  "></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      
      <section class="section doctor-qualification gray-bg">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="section-title">
                          <h3>Mis calificaciones educativas</h3>
                          <div class="divider my-4"></div>
                      </div>
                  </div>
              </div>
      
              <div class="row">
                  <div class="col-lg-6 mb-4 mb-lg-0">
                      <div class="edu-block mb-5">
                          <span class="h6 text-muted">Graduado (2000-2005)  </span>
                          <h4 class="mb-3 title-color">Facultad de Medicina de la Universidad Nacional.</h4>
                          <p>Combino sólidos conocimientos médicos con un enfoque compasivo hacia mis pacientes. La formación me prepara para hacer contribuciones significativas al campo de la salud.</p>
                      </div>
      
                      <div class="edu-block">
                          <span class="h6 text-muted">Residencia(2008-2010) </span>
                          <h4 class="mb-3 title-color">Cirugía General en el Hospital Central.</h4>
                          <p>Tengo experiencia sólida en procedimientos quirúrgicos variados. Mi dedicación y habilidades me destacan como una profesional capaz de manejar casos complejos con precisión y cuidado.</p>
                      </div>
                  </div>
      
                  <div class="col-lg-6">
                      <div class="edu-block mb-5">
                          <span class="h6 text-muted">Fellowship (2010-2011) </span>
                          <h4 class="mb-3 title-color">Cirugía Laparoscópica en el Centro Médico Nacional.</h4>
                          <p>Poseo habilidades avanzadas en técnicas quirúrgicas mínimamente invasivas. La formación especializada me distingue como un profesional capacitado para abordar complejos procedimientos quirúrgicos con precisión y eficiencia.</p>
                      </div>               
                  </div>
              </div>
          </div>
      </section>
      
      
      <section class="section doctor-skills">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4">
                      <h3>Mis habilidades</h3>
                      <div class="divider my-4"></div>
                      <p>Como cirujano general, me especializo en técnicas quirúrgicas precisas y avanzadas, incluyendo cirugía laparoscópica y procedimientos mínimamente invasivos. Tengo experiencia en el manejo efectivo de emergencias y en colaborar con equipos multidisciplinarios para ofrecer un cuidado integral a mis pacientes.</p>
                  </div>
                  <div class="col-lg-4">
                      <div class="skill-list">
                          <h5 class="mb-4">Áreas de Especialización</h5>
                          <ul class="list-unstyled department-service">
                              <li><i class="icofont-check mr-2"></i>Cirugía laparoscópica y mínimamente invasiva.</li>
                              <li><i class="icofont-check mr-2"></i>Stretchers and Stretcher Accessories</li>
                              <li><i class="icofont-check mr-2"></i>Cirugía de urgencia y de emergencia.</li>
                              <li><i class="icofont-check mr-2"></i>Cirugía de la vesícula biliar y del tracto digestivo.</li>
                              <li><i class="icofont-check mr-2"></i>Tratamiento quirúrgico de enfermedades del sistema endocrino.</li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="sidebar-widget  gray-bg p-4">
                          <h5 class="mb-4">Make Appoinment</h5>
      
                          <ul class="list-unstyled lh-35">
                              <li class="d-flex justify-content-between align-items-center">
                                  <span>Lunes a Viernes</span>
                                  <span>8:00AM a 5:00PM</span>
                              </li>
                              <li class="d-flex justify-content-between align-items-center">
                                  <span>Sábados</span>
                                  <span>8:00AM a 12:00PM</span>
                              </li>
                              <!--<li class="d-flex justify-content-between align-items-center">
                                  <span>Sunday</span>
                                  <span>Closed</span>
                              </li>-->
                          </ul>
      
                          <div class="sidebar-contatct-info mt-4">
                              <p class="mb-0">¿Necesitas ayuda urgente?</p>
                              <h3 class="text-color-2">(01) 550 – 0030</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
    <Footer />
</body>
</html>