---
// libraries
import "bootstrap/dist/css/bootstrap.min.css";
import "slick-carousel/slick/slick-theme.css";
import "slick-carousel/slick/slick.css";
// ccs
import '../css/style.css';
import '../plugins/icofont/icofont.min.css';
// Components
import Footer from "./components/footer.astro";
import Header from "./components/header.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Policlínico Fátima</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

	<link href="../plugins/icofont/icofont.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <Header />

    <!-- Slider Start -->
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xl-7">
            <div class="block">
              <div class="divider mb-3"></div>
              <span class="text-uppercase text-sm letter-spacing"
                >SOLUCIÓN TOTAL DE ATENCIÓN MÉDICA</span
              >
              <h1 class="mb-3 mt-3">Policlínico Parroquial Nuestra Señora de Fátima</h1>

              <p class="mb-4 pr-5">
                El policlínico ofrece servicios médicos integrales, promoviendo la salud y el bienestar con un enfoque personalizado y accesible para la comunidad.
              </p>
              <div class="btn-container">
                <a
                  href="appoinment.html"
                  target="_blank"
                  class="btn btn-main-2 btn-icon btn-round-full"
                  >Hacer una cita <i class="icofont-simple-right ml-2"></i></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="feature-block d-lg-flex">
              <div class="feature-item mb-5 mb-lg-0">
                <div class="feature-icon mb-4">
                  <!-- <i class="icofont-surgeon-alt"></i> -->
				  <i class="fa-solid fa-user-nurse"></i>
                </div>
                <span>Servicio las 24 horas</span>
                <h4 class="mb-3">Cita en línea</h4>
                <p class="mb-4">
                  Obtenga apoyo TODO el tiempo para emergencias. Hemos introducido el principio de la medicina familiar.
                </p>
                <a href="appoinment.html" class="btn btn-main btn-round-full"
                  >Hacer una cita</a
                >
              </div>

              <div class="feature-item mb-5 mb-lg-0">
                <div class="feature-icon mb-4">
                  <i class="icofont-ui-clock"></i>
                </div>
                <span>Horario</span>
                <h4 class="mb-3">Horas de trabajo</h4>
                <ul class="w-hours list-unstyled">
                  <li class="d-flex justify-content-between">
                    Lunes a Viernes: <span>8:00AM a 5:00PM</span>
                  </li>
                  <li class="d-flex justify-content-between">
                    Sábados: <span>8:00AM a 12:00PM</span>
                  </li>
                </ul>
              </div>

              <div class="feature-item mb-5 mb-lg-0">
                <div class="feature-icon mb-4">
                  <i class="icofont-support"></i>
                </div>
                <span>Casos de emergencia</span>
                <h4 class="mb-3">(01) 550 – 0030</h4>
                <p>
                  Obtenga soporte TODO el tiempo para emergencias. Hemos introducido el
                  principio de la medicina familiar. Conéctese con nosotros para cualquier
                  urgencia.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section about">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 col-sm-6">
            <div class="about-img">
              <img src="/src/images/about/img-1.jpg" alt="" class="img-fluid" />
              <img src="/src/images/about/img-2.jpg" alt="" class="img-fluid mt-4" />
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="about-img mt-4 mt-lg-0">
              <img src="/src/images/about/img-3.jpg" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="about-content pl-4 mt-4 mt-lg-0">
              <h2 class="title-color">Cuidado personal y vida saludable</h2>
              <p class="mt-4 mb-5">
                Brindamos el mejor servicio médico, líder en todas las especialidades.
              </p>

              <a
                href="service.html"
                class="btn btn-main-2 btn-round-full btn-icon"
                >Servicios<i class="icofont-simple-right ml-3"></i></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cta-section">
      <div class="container">
        <div class="cta position-relative">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="counter-stat">
                <i class="icofont-doctor"></i>
                <span class="h3 counter" data-count="58">0</span>k
                <p>Personas felices</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="counter-stat">
                <i class="icofont-flag"></i>
                <span class="h3 counter" data-count="700">0</span>+
                <p>Tratamientos realizados</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="counter-stat">
                <i class="icofont-badge"></i>
                <span class="h3 counter" data-count="40">0</span>+
                <p>Doctores expertos</p>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="counter-stat">
                <i class="icofont-globe"></i>
                <span class="h3 counter" data-count="20">0</span>
                <p>Sucursales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section service gray-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 text-center">
            <div class="section-title">
              <h2>Atención al paciente galardonada</h2>
              <div class="divider mx-auto my-4"></div>
              <p>
                Nuestro compromiso se refleja en un servicio excepcionalmente humano y eficiente, centrado en su bienestar y comodidad en todo momento.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-laboratory text-lg"></i>
                <h4 class="mt-3 mb-3">Medicina General / Pediatría en General</h4>
              </div>

              <div class="content">
                <p class="mb-4">
                  Los médicos generales y pediatras tratan una amplia gama de problemas de salud comunes y proporcionan atención preventiva.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-heart-beat-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Obstetricia</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Especialidad médica que se ocupa del embarazo, el parto y el período después del parto (puerperio).
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-tooth text-lg"></i>
                <h4 class="mt-3 mb-3">Odontología</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Se dedica al diagnóstico, prevención y tratamiento de enfermedades y condiciones relacionadas con los dientes, la boca y las estructuras asociadas.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-crutch text-lg"></i>
                <h4 class="mt-3 mb-3">Nutrición</h4>
              </div>

              <div class="content">
                <p class="mb-4">
                  Especialidad que se enfoca en la alimentación y la nutrición adecuada para la salud y el bienestar.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-brain-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Terapia Física y Rehabilitación</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Profesionales que ayudan a los pacientes a recuperarse de lesiones o cirugías, mejorar la movilidad y reducir el dolor a través de ejercicios, terapia manual y otros tratamientos.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-dna-alt-1 text-lg"></i>
                <h4 class="mt-3 mb-3">Terapia de Lenguaje</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Se ocupa de la evaluación y tratamiento de trastornos del habla, lenguaje, comunicación y deglución.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-brain-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Terapia ocupacional</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Ayuda a las personas a desarrollar o recuperar habilidades necesarias para realizar actividades diarias y laborales, adaptando el entorno para facilitar la participación.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-brain-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Terapia Sensorial</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Enfoque terapéutico que trata los problemas relacionados con la integración sensorial y la respuesta a estímulos sensoriales.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-brain-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Psicología</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Se ocupa del estudio del comportamiento humano y los procesos mentales, ofreciendo terapia para tratar problemas emocionales, mentales y conductuales.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-brain-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Tópico</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Se refiere al tratamiento de enfermedades o condiciones de la piel mediante la aplicación directa de medicamentos o sustancias.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-brain-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Laboratorio</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Realiza pruebas y análisis clínicos para el diagnóstico y seguimiento de enfermedades, como análisis de sangre, cultivos bacterianos, entre otros.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-brain-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Rayos X</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Utiliza radiación electromagnética para obtener imágenes del interior del cuerpo, ayudando en el diagnóstico de fracturas, enfermedades y otras condiciones médicas.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-brain-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Electrocardiograma</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Prueba que registra la actividad eléctrica del corazón para evaluar su funcionamiento y detectar problemas cardíacos.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="service-item mb-4">
              <div class="icon d-flex align-items-center">
                <i class="icofont-brain-alt text-lg"></i>
                <h4 class="mt-3 mb-3">Farmacia</h4>
              </div>
              <div class="content">
                <p class="mb-4">
                  Se encarga de la preparación, dispensación y manejo de medicamentos bajo prescripción médica, asegurando su uso seguro y eficaz.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="section appoinment">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="appoinment-content">
              <img src="/src/images/about/img-3.jpg" alt="" class="img-fluid" />
              <div class="emergency">
                <h2 class="text-lg">
                  <i class="icofont-phone-circle text-lg"></i>+23 345 67980
                </h2>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-10">
            <div class="appoinment-wrap mt-5 mt-lg-0">
              <h2 class="mb-2 title-color">Reservar una cita</h2>
              <p class="mb-4">
                Reserve su cita médica fácilmente con nosotros. Ofrecemos un proceso sencillo y rápido para programar su consulta, adaptándonos a sus necesidades y horarios.
              </p>
              <form id="#" class="appoinment-form" method="post" action="#">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select
                        class="form-control"
                        id="exampleFormControlSelect1"
                      >
                        <option>Escoge una especialidad</option>
                        <option>Medicina General / Pediatría en General</option>
                        <option>Obstetricia</option>
                        <option>Odontología</option>
                        <option>Nutrición</option>
                        <option>Terapia Física y Rehabilitación</option>
                        <option>Terapia de Lenguaje</option>
                        <option>Terapia ocupacional</option>
                        <option>Terapia Sensorial</option>
                        <option>Psicología</option>
                        <option>Tópico</option>
                        <option>Laboratorio</option>
                        <option>Rayos X</option>
                        <option>Electrocardiograma</option>
                        <option>Farmacia</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select
                        class="form-control"
                        id="exampleFormControlSelect2"
                      >
                        <option>Seleccionar doctor</option>
                        <option>Ignacio Chunga Vinchales</option>
                        <option>Lissety Bravo</option>
                        <option>Jorge Zavaleta Rivas</option>
                        <option>Nancy Pantoja</option>
                        <option>Soledad Gamboa Reyes</option>
                        <option>Laura Luna</option>
                        <option>Yul Gomero</option>
                        <option>Teresa Tauma</option>
                        <option>Jesús Zapata</option>
                        <option>Yaneth Huapaya Flores</option>
                        <option>Nathaly Salcedo Pajuelo</option>
                        <option>Mónica Saldaña Ferrari</option>
                        <option>Diana Moreno López</option>
                        <option>Rosalin Agurto</option>
                        <option>Ingrid Bravo Bazan</option>
                        <option>Patricia Veliz Moreno</option>
                        <option>Milbri Vargas</option>
                        <option>Sandra Naupay Gargate</option>
                        <option>Eva Guillen Ramirez</option>
                        <option>Rosario Charcape</option>
                        <option>Yuliana Arizaga</option>
                        <option>Miguel Quispe</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        name="date"
                        id="date"
                        type="text"
                        class="form-control"
                        placeholder="día/mes/año"
                      />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        name="time"
                        id="time"
                        type="text"
                        class="form-control"
                        placeholder="Hora"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        name="name"
                        id="name"
                        type="text"
                        class="form-control"
                        placeholder="Nombre completo"
                      />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        name="phone"
                        id="phone"
                        type="number"
                        class="form-control"
                        placeholder="Número de celular"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group-2 mb-4">
                  <textarea
                    name="message"
                    id="message"
                    class="form-control"
                    rows="6"
                    placeholder="Tu mensaje"></textarea>
                </div>

                <a class="btn btn-main btn-round-full" href="appoinment.html"
                  >Reservar cita<i class="icofont-simple-right ml-2"></i></a
                >
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section testimonial-2 gray-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="section-title text-center">
              <h2>Atendemos a más de 500 pacientes</h2>
              <div class="divider mx-auto my-4"></div>
              <p>
                Los atendemos con dedicación y profesionalismo, garantizando atención médica de calidad y personalizada para cada uno de ellos.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12 testimonial-wrap-2">
            <div class="testimonial-block style-2 gray-bg">
              <i class="icofont-quote-right"></i>

              <div class="testimonial-thumb">
                <img
                  src="/src/images/team/test-thumb1.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <div class="client-info">
                <h4>¡Servicio increíble!</h4>
                <span>John Partho</span>
                <p>
                  El policlínico ha superado mis expectativas con su atención médica excepcional y personalizada, demostrando un compromiso notable con la salud y el bienestar de sus pacientes.
                </p>
              </div>
            </div>

            <div class="testimonial-block style-2 gray-bg">
              <div class="testimonial-thumb">
                <img
                  src="/src/images/team/test-thumb2.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <div class="client-info">
                <h4>¡Doctores expertos!</h4>
                <span>Mullar Sarth</span>
                <p>
                  Encontré profesionales altamente cualificados y comprometidos, quienes brindaron un diagnóstico preciso y un tratamiento efectivo, asegurando mi confianza en su atención médica integral.
                </p>
              </div>

              <i class="icofont-quote-right"></i>
            </div>

            <div class="testimonial-block style-2 gray-bg">
              <div class="testimonial-thumb">
                <img
                  src="/src/images/team/test-thumb3.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <div class="client-info">
                <h4>¡Buen soporte!</h4>
                <span>Kolis Mullar</span>
                <p>
                  Ofrece un excelente respaldo tanto en la atención médica como en el servicio al cliente, asegurando una experiencia integral satisfactoria y confiable para sus pacientes.
                </p>
              </div>

              <i class="icofont-quote-right"></i>
            </div>

            <div class="testimonial-block style-2 gray-bg">
              <div class="testimonial-thumb">
                <img
                  src="/src/images/team/test-thumb4.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <div class="client-info">
                <h4>¡Buen ambiente!</h4>
                <span>Partho Sarothi</span>
                <p class="mt-4">
                  Disfruté de un entorno acogedor y tranquilo, que contribuyó positivamente a mi experiencia durante la visita médica, reflejando un compromiso con el confort y bienestar de los pacientes.
                </p>
              </div>
              <i class="icofont-quote-right"></i>
            </div>

            <div class="testimonial-block style-2 gray-bg">
              <div class="testimonial-thumb">
                <img
                  src="/src/images/team/test-thumb1.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <div class="client-info">
                <h4>¡Servicio moderno!</h4>
                <span>Kolis Mullar</span>
                <p>
                  El policlínico cuenta con tecnología de vanguardia y métodos innovadores que mejoran la eficiencia y la precisión en el diagnóstico y tratamiento, proporcionando una atención médica actualizada y de alta calidad.
                </p>
              </div>
              <i class="icofont-quote-right"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section clients">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="section-title text-center">
              <h2>Socios que nos apoyan</h2>
              <div class="divider mx-auto my-4"></div>
              <p>
                Agradecemos a nuestros colaboradores por su respaldo constante, facilitando que podamos ofrecer servicios médicos de excelencia y avanzar en nuestra misión de cuidar la salud de la comunidad.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row clients-logo">
          <div class="col-lg-2">
            <div class="client-thumb">
              <img src="/src/images/about/1.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-2">
            <div class="client-thumb">
              <img src="/src/images/about/2.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-2">
            <div class="client-thumb">
              <img src="/src/images/about/3.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-2">
            <div class="client-thumb">
              <img src="/src/images/about/4.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-2">
            <div class="client-thumb">
              <img src="/src/images/about/5.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-2">
            <div class="client-thumb">
              <img src="/src/images/about/6.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-2">
            <div class="client-thumb">
              <img src="/src/images/about/3.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-2">
            <div class="client-thumb">
              <img src="/src/images/about/4.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-2">
            <div class="client-thumb">
              <img src="/src/images/about/5.png" alt="" class="img-fluid" />
            </div>
          </div>
          <div class="col-lg-2">
            <div class="client-thumb">
              <img src="/src/images/about/6.png" alt="" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
