---
// libraries
import "bootstrap/dist/css/bootstrap.min.css";
import "slick-carousel/slick/slick-theme.css";
import "slick-carousel/slick/slick.css";
// ccs
import "../css/style.css";
import "../plugins/icofont/icofont.min.css";
// Components
import Footer from "./components/footer.astro";
import Header from "./components/header.astro";
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Policlínico Fátima</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

	<link href="../plugins/icofont/icofont.min.css" rel="stylesheet"></link>
  </head>
  <body>
    <Header />
    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block text-center">
                <span class="text-white">Especialidades</span>
                <h1 class="text-capitalize mb-5 text-lg">Conoce nuestras especialidades detalladamente</h1>
      
                <!-- <ul class="list-inline breadcumb-nav">
                  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
                  <li class="list-inline-item"><span class="text-white">/</span></li>
                  <li class="list-inline-item"><a href="#" class="text-white-50">Our services</a></li>
                </ul> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="section service-2">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="service-block mb-5">
                          <img src="src/images/service/service-1.jpg" alt="" class="img-fluid">
                          <div class="content">
                              <h3 class="mt-4 mb-2 title-color">Medicina General / Pediatría en General</h3>
                              <h4 class="mt-4 mb-2 title-color">Adultos y niños</h4>
                              <p class="mb-4">La consulta de Medicina General está orientada al abordaje integral del paciente que acude por cualquier motivo de consulta, durante la misma se realizará la evaluación específica del problema que aqueja al paciente, una vez completada esa revisión se procederá a la detección e identificación de factores de riesgo para enfermedades latentes o potenciales en el corto, mediano y largo plazo.</p>
                          </div>
                      </div>
                  </div>
      
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="service-block mb-5">
                          <img src="src/images/service/service-2.jpg" alt="" class="img-fluid">
                          <div class="content">
                              <h3 class="mt-4 mb-2  title-color">Obstetricia</h3>
                              <h5 class="mt-4 mb-2">Atención en:</h5>
                              <ul>
                                <li>Diagnóstico y control del embarazo.</li>
                                <li>Orientación y consejería en planificación familiar.</li>
                                <li>Descarte de cáncer ginecológico (Papanicolau, exámen de mamas).</li>
                                <li>Diagnóstico y tratamiento de infecciones vaginales y enfermedades de transmisión sexual.</li>
                                <li>Orientación y consejería en salud sexual y reproductiva</li>
                              </ul>                    
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="service-block mb-5">
                          <img src="src/images/service/service-3.jpg" alt="" class="img-fluid">
                          <div class="content">
                              <h3 class="mt-4 mb-2 title-color">Odontología</h3>
                              <h4 class="mt-4 mb-2 title-color">Adultos y niños</h4>
                              <h5 class="mt-4 mb-2">Atención en:</h5>
                              <ul>
                                <li>Curaciones con luz alógena</li>
                                <li>Ondodoncia</li>
                                <li>Extracciones</li>
                                <li>Coronas y carillas en porcelana</li>
                                <li>Prótesis fijas, removibles y totales</li>
                                <li>Profilaxis (limpieza dental)</li>
                                <li>Blanqueamiento dental</li>
                                <li>Estética dental</li>
                                <li>Ortodoncia (brackets)</li>
                                <li>Odontopediatría</li>
                                <li>Rayos X dental</li>
                              </ul>
                          </div>
                      </div>
                  </div>
      
      
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="service-block mb-5 mb-lg-0">
                          <img src="src/images/service/service-4.jpg" alt="" class="img-fluid">
                          <div class="content">
                              <h3 class="mt-4 mb-2 title-color">Nutrición</h3>
                              <h4 class="mt-4 mb-2 title-color">Adultos y niños</h4>                              
                              <p class="mb-4">La nutrición es la ingesta de alimentos en relación con las necesidades dietéticas del organismo. Una buena nutrición (una dieta suficiente y equilibrada combinada con el ejercicio físico regular) es un elemento fundamental de la buena salud.</p>
                              <h5 class="mt-4 mb-2">Tratamos</h5>
                              <ul>
                                <li>Transtornos alimenticios</li>
                                <li>Nutrición especial para tipo de personas que padecen alguna enfermedad</li>
                                <li>Anemia</li>
                                <li>Y más</li>
                              </ul>


                          </div>
                      </div>
                  </div>
      
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="service-block mb-5 mb-lg-0">
                          <img src="src/images/service/service-6.jpg" alt="" class="img-fluid">
                          <div class="content">
                              <h3 class="mt-4 mb-2 title-color">Terapia Física y Rehabilitación</h3>
                              <h4 class="mt-4 mb-2 title-color">Adultos y niños</h4>
                              <h5 class="mt-4 mb-2">Atención en:</h5>
                              <ul>
                                <li>Paralisis cerebral, facial y hemiplejias</li>
                                <li>Lesiones medulares</li>
                                <li>Lesiones neurológicas</li>
                                <li>Lumbalgias</li>
                                <li>Cervicalgias</li>
                                <li>Cifosis</li>
                                <li>Esclorosis</li>
                                <li>Hombro doloroso</li>
                                <li>Ciática</li>
                                <li>Defectos porstulares</li>
                                <li>Artritis y artrosis</li>
                                <li>Y más</li>
                                <!--<li>Pie plano</li>
                                <li>Microcefalias e hidrocefalias</li>
                                <li>Amputados</li>
                                <li>Autismo entre otros</li>
                                <li>Síndrome Down y west</li>
                                <li>Masajes antiestrés</li>
                                <li>Psicoprofilaxis para embarazadas</li>
                                <li>Masajes descontracturantes</li>
                                <li>Masajes relajantes</li>
                                <li>Estimulación Temprana</li>-->
                              </ul>                       
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="service-block mb-5 mb-lg-0">
                          <img src="src/images/service/service-8.jpg" alt="" class="img-fluid">
                          <div class="content">
                              <h3 class="mt-4 mb-2 title-color">Terapia de Lenguaje</h3>
                              <h4 class="mt-4 mb-2 title-color">Adultos y niños</h4>
                              <h5 class="mt-4 mb-2">¿Cómo reconocer problemas de lenguajes?</h5>
                              <p class="mb-4">Si el niño no comprende órdenes simple, no nombra ni reconoce partes de su cuerpo, tiene un vocabulario pobre, no estructura frases y no socializa.</p>
                              <h6 class="mt-4 mb-2">Tratamos pacientes con:</h6>
                              <ul>
                                <li>Transtornos de articulación</li>
                                <li>Problemas de Habla</li>
                                <li>Pronunciación</li>
                                <li>Tartamudez</li>
                                <li>Disatria</li>
                                <li>Alasia</li>
                                <li>Estimulación verbal</li>
                                <li>Resonancia o transtorno de la voz</li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-block mb-5 mb-lg-0">
                        <img src="src/images/service/service-8.jpg" alt="" class="img-fluid">
                        <div class="content">
                            <h3 class="mt-4 mb-2 title-color">Terapia ocupacional</h3>
                            <p class="mb-4">La Terapia Ocupacional se encarga de facilitar y mejorar el desempeño de las personas en sus actividades del diario vivir, sean éstas actividades de auto mantenimiento, trabajo, estudio, deportes, juego o de tiempo libre. Para poder realizar cualquier actividad (ocupación), la persona tiene que tener la oportunidad de participar en ella, por tanto, el terapeuta ocupacional también interviene para promover, abogar y facilitar la participación social de la persona considerando su entorno y su cultura.</p>
                            <h6 class="mt-4 mb-2">Tratamos pacientes con:</h6>
                            <ul>
                              <li>Aprestamiento</li>
                              <li>Psicomotrocidad</li>
                              <li>Problemas de conducta</li>
                              <li>Ergoterapia</li>
                              <li>Autismo</li>
                              <li>Cordinación</li>
                              <li>Hiperactividad</li>
                              <li>Parálisis cerebral</li>
                              <li>Reducción de movimiento</li>
                              <li>Independencia de actividades de la vida diaria</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="service-block mb-5 mb-lg-0">
                      <img src="src/images/service/service-8.jpg" alt="" class="img-fluid">
                      <div class="content">
                          <h3 class="mt-4 mb-2 title-color">Terapia sensorial</h3>
                          <p class="mb-4">Es un proceso neurológico por el cuál las sensaciones que provienen de nuestro entorno y de nuestro cuerpo, son organizadas e interpretadas para su uso. Toda la información que recibimos sobre el mundo, nos viene a través de nuestros sistemas sensoriales.</p>
                          <h6 class="mt-4 mb-2">Tratamos pacientes con:</h6>
                          <ul>
                            <li>Problemas de atención</li>
                            <li>Comportamiento problemático</li>
                            <li>Retraso Psicomotor en motricidad grue</li>
                            <li>Problemas sensoriales</li>
                            <li>Autismo</li>
                            <li>Síndrome de Down</li>
                            <li>Cordinación</li>
                            <li>Se complementa con T. ocupacional</li>
                          </ul>
                      </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="service-block mb-5">
                      <img src="src/images/service/service-2.jpg" alt="" class="img-fluid">
                      <div class="content">
                          <h3 class="mt-4 mb-2  title-color">Psicología</h3>
                          <h4 class="mt-4 mb-2 title-color">Adultos y niños</h4>
                          <h5 class="mt-4 mb-2">Atención en:</h5>
                          <ul>
                            <li>Terapia Infantil</li>
                            <li>Terapia de Adultos</li>
                            <li>Terapia de Aprendizaje</li>
                            <li>Psicoterapia</li>
                            <li>Problemas de Conducta</li>
                            <li>Problemas Conyugales</li>
                            <li>Otros</li>
                          </ul>
                          <h5 class="mt-4 mb-2">Terapias individuales – grupales</h5>
                          <ul>
                            <li>Depresión</li>
                            <li>Ansiedad</li>
                            <li>Problemas de conducta</li>
                            <li>Problemas conyugales</li>
                            <li>Otros</li>
                          </ul>             
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-block mb-5">
                    <img src="src/images/service/service-2.jpg" alt="" class="img-fluid">
                    <div class="content">
                        <h3 class="mt-4 mb-2  title-color">Tópico</h3>
                        <h4 class="mt-4 mb-2 title-color">Adultos y niños</h4>
                        <ul>
                          <li>Inyectables</li>
                          <li>Nebulizaciónes</li>
                          <li>Aplicación de suero</li>
                          <li>Curaciones</li>
                          <li>Suturas</li>
                          <li>Retiro de puntos</li>
                          <li>Medición de presión</li>
                          <li>Extracción de uña</li>
                          <li>Lavado de oídos</li>
                          <li>Otros</li>
                        </ul>                    
                    </div>
                </div>
            </div>            

            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="service-block mb-5">
                  <img src="src/images/service/service-2.jpg" alt="" class="img-fluid">
                  <div class="content">
                      <h3 class="mt-4 mb-2  title-color">Laboratorio</h3>
                      <h5 class="mt-4 mb-2">Análisis clínico de:</h5>
                      <ul>
                        <li>Sangre</li>
                        <li>Orina</li>
                        <li>Heces Secreción y otros</li>
                        <li>Diagnóstico del embarazo (sangre y orina al instante)</li>
                        <li>Papanicolau</li>
                        <li>Colesterol</li>
                        <li>Glucosa</li>
                        <li>Hemoglobina</li>
                        <li>Orina completa</li>
                        <li>Parasitológico</li>
                        <li>Otros</li>
                      </ul>                 
                  </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="service-block mb-5">
                  <img src="src/images/service/service-2.jpg" alt="" class="img-fluid">
                  <div class="content">
                      <h3 class="mt-4 mb-2  title-color">Rayos X</h3>
                      <h4 class="mt-4 mb-2 title-color">Adultos y niños</h4>
                      <h6>Ginecológica Pélvica:</h6>
                      <p>Descarte de Miomas y quistes.</p>

                      <h6>Ginecológica Transvaginal:</h6>
                      <p>Sexo de bebé, control de embarazo entre otros.</p>

                      <h6>Abdominal:</h6>
                      <p>Descartes en el problema de hígado, Vesícula, estómago, pancreas y más.</p>

                      <h6>Renal:</h6>
                      <p>Descarte de cálculos y quistes.</p>

                      <h6>Prostática:</h6>
                      <p>Despistaje de prostatitis de inflamación de próstata.</p>

                      <h6>Mamas:</h6>
                      <p>Descarte de tumores, quistes, lipomas, testicular y tiroides.</p>                    
                  </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="service-block mb-5">
                  <img src="src/images/service/service-2.jpg" alt="" class="img-fluid">
                  <div class="content">
                      <h3 class="mt-4 mb-2  title-color">Electrocardiograma</h3>
                      <h4 class="mt-4 mb-2 title-color">Adultos y niños</h4>
                      <p>El Electrocardiograma es la representación gráfica de la actividad eléctrica del corazón en función del tiempo, que se obtiene, desde la superficie corporal, en el pecho, con un electrocardiógrafo en forma de cinta continua.</p>
                  </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="service-block mb-5">
                  <img src="src/images/service/service-2.jpg" alt="" class="img-fluid">
                  <div class="content">
                      <h3 class="mt-4 mb-2  title-color">Farmacia</h3>
                      <p>Ofrece gran variedad de medicamentos a precios sin competencia</p>
                      <h3 class="mt-4 mb-2">¡¡DESCUENTOS Y PROMOCIONES!!</h3>                   
                  </div>
              </div>
            </div>
              
          </div>
      </section>
    <Footer />
</body>
</html>